
<div class="top-banner">
  <div class="col-lrg">
    <div class="lrg-text">
    50px
    <p>
    Hey there. This site displays the most popular photos currently on <a href="https://500px.com">500px.com</a>, but in really low resolution.
	</p>
   </div>
  </div>
</div>


<div class="col-lrg">

	<%= render 'image_grid' %>

	<div class="container">
	<%# render additional pages inside here %>
	</div>

</div>



